@model FavoriteProductViewModel

<div class="row">
    <div class="col-12 badge bg-secondary justify-content-center mb-2">
        <span class="h3">Избранные товары</span>
    </div>
    @if (Model == null)
    {
        <h4>Список пуст, <a asp-area="" asp-controller="Product" asp-action="CategoryProducts" asp-route-category="@ProductCategories.None">добавить?</a></h4>
    }
    else
    {
        @foreach (var product in Model.Products)
        {
            var maskId = "mask" + product.Id;
            <div class="col-3 p-1">
                <div class="card h-100 shadow-lg" style="border-color:aqua; font-family:Bahnschrift">
                    <div class="card-header bg-white h-100" style="border:none;">
                        <a asp-area="" asp-controller="Product" asp-action="index" asp-route-prodId="@product.Id"><img class="card-img-top" src="@product.Picture.Path"></a>
                    </div>
                    <div class="card-body pt-0">
                        <a class="mt-3" style="color:dimgray; float:left" asp-area="" asp-controller="product" asp-action="index" asp-route-prodId="@product.Id">
                            <h6 class="card-subtitle">@product.Name</h6>
                        </a>
                    </div>
                    <div class="card-footer bg-light" style="border:none">
                        @if (product.AmountInStock > 0)
                        {
                            if (product.Cost == product.DiscountCost)
                            {
                                <h4 class="col-12 p-0" style="float:left; color:teal">@product.Cost<span class="h5">₴</span></h4>
                            }
                            else
                            {
                                <h4 class="col-4 p-0 position-relative" style="color:chartreuse">
                                @product.DiscountCost₴
                                <span class="col-12 ml-3 p-0 position-absolute top-0 start-100 translate-middle" style="font-size:large; color:teal; text-decoration-line:line-through; text-decoration-color:red">
                                    @product.Cost₴
                                </span>
                            </h4>
                            }
                            <a class="btn btn-dark" asp-area="" asp-controller="Basket" asp-action="Buying" asp-route-productId="@product.Id" asp-route-flavorId="@product.Flavor.Id" asp-route-amount="1" role="button">Добавить в корзину</a>
                        }
                        else
                        {
                            <h4 style="color:goldenrod">Нет в наличии</h4>
                            <a class="btn btn-dark disabled" asp-area="" asp-controller="Basket" asp-action="Buying" asp-route-productId="@product.Id" asp-route-flavorId="@product.Flavor.Id" asp-route-amount="1" role="button">Добавить в корзину</a>
                        }
                        <a class="float-right" asp-area="" asp-controller="Product" asp-action="RemoveFavorite" asp-route-productId="@product.Id" title="Убрать из списка желаемого"><img src="/icons/remove_icon.png" style="width:40px" /></a>

                    </div>
                </div>
            </div>
        }
    }
</div>
