@model List<DiscountViewModel>

<div class="row">
    @await Html.PartialAsync("AdminMenu")
    <div class="col-10">
        <form method="post">
            <div class="row">
                <div class="col-5">
                    <img class="img-fluid" src="@ViewBag.Product.Picture.Path" />
                </div>
                <div class="col-7">
                    <div class="form-group">
                        <label class="badge badge-light" style="font-size:medium" for="Categori">Категория</label>
                        <input id="Categori" type="text" readonly="readonly" class="border-0 bg-transparent pl-0 form-control" value="@EnumHelper.GetDisplayName(ViewBag.Product.Category)" />
                    </div>
                    <div class="form-group">
                        <label for="Brand" style="font-size:medium" class="badge badge-light">Брэнд</label>
                        <input id="Brand" type="text" readonly="readonly" class="border-0 bg-transparent pl-0 form-control" value="@ViewBag.Product.Brand" />
                    </div>
                    <div class="form-group">
                        <label for="Name" style="font-size:medium" class="badge badge-light">Название</label>
                        <input id="Name" type="text" readonly="readonly" class="border-0 bg-transparent pl-0 form-control" value="@ViewBag.Product.Name" />
                    </div>
                    <div class="form-group">
                        <label for="Description" style="font-size:medium" class="badge badge-light">Описание акции</label>
                        <textarea id="Description" class="h-100 form-control pl-0" type="text" name="discountDescription" placeholder="(не обязательно)"></textarea>
                    </div>
                    <div class="form-group form-inline">
                        <label for="Discounts">Скидка, %</label>
                        <select class="btn btn-outline-secondary form-control btn-sm ml-2" name="discountId" id="Discounts">
                            @foreach (var discount in Model)
                            {
                                @if (Model.IndexOf(discount) == 0)
                                {
                                    <option value="@discount.Id" selected="selected">@discount.DiscountPercent</option>
                                }
                                else
                                {
                                    <option value="@discount.Id">@discount.DiscountPercent</option>
                                }
                            }
                        </select>
                    </div>
                    <button class="btn btn-warning btn-block mt-2" type="submit" asp-area="Admin" asp-controller="Discount" asp-action="MakeDiscount" asp-route-productId="@ViewBag.Product.Id">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</div>
