@model ProductViewModel
<div id="@ViewBag.ModalInfo" class="modal fade">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="border: 4px solid orange;font-size: 12px">
            <div class="modal-header" style="border-bottom: 4px solid orange">
                <h4 class="modal-title" style="color:red">Информация о продукте</h4>
                <button class="close" type="button" data-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <div id="productSlides" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                @for (int i = 0; i < Model.Pictures.Count; i++)
                                {
                                    if (i == 0)
                                    {
                                        <li data-target="#productSlides" data-slide-to="i" class="active"></li>
                                    }
                                    else
                                    {
                                        <li data-target="#productSlides" data-slide-to="i"></li>
                                    }
                                }
                            </ol>
                            <div class="carousel-inner">
                                @foreach (var picturePath in Model.Pictures)
                                {
                                    if (picturePath.Path.IndexOf(Model.Pictures.First().Path) == 0)
                                    {
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="@picturePath.Path" alt="слайд">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="@picturePath.Path" alt="слайд">
                                        </div>
                                    }
                                }
                            </div>
                            <a class="carousel-control-prev" href="#productSlides" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#productSlides" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-9 border-left">
                        <div class="form-group row">
                            <label for="id" class="col-2 col-form-label align-self-center pb-2">Код продукта</label>
                            <div class="col-10 pb-2">
                                <input name="id" type="text" id="id" class="form-control" value="@Model.Id" readonly="readonly" />
                            </div>
                            <label for="category" class="col-2 col-form-label align-self-center pb-2">Категория продукта</label>
                            <div class="col-10 pb-2">
                                <input readonly="readonly" type="text" name="category" class="form-control" id="category" value="@EnumHelper.GetDisplayName(Model.Category)">
                            </div>
                            <label for="brand" class="col-2 align-self-center col-form-label">Бренд продукта</label>
                            <div class="col-10 pb-2">
                                <input readonly="readonly" type="text" name="brand" class="form-control" id="brand" value="@EnumHelper.GetDisplayName(Model.Brand)">
                            </div>
                            <label for="name" class="col-2 align-self-center col-form-label">Название продукта</label>
                            <div class="col-10 pb-2">
                                <input readonly="readonly" type="text" name="name" class="form-control" id="name" value="@Model.Name">
                            </div>
                            <label for="description" class="col-2 col-form-label align-self-center">Описание продукта</label>
                            <div class="col-10 pb-2">
                                <textarea readonly="readonly" style="height:100px" type="text" name="description" class="form-control" id="description">@Model.Description</textarea>
                            </div>
                            @if (Model.Cost == Model.DiscountCost)
                            {
                                <label for="cost" class="col-2 align-self-center col-form-label">Цена продукта, грн</label>
                                <div class="col-10 pb-2">
                                    <input readonly="readonly" type="text" name="cost" class="form-control" id="cost" value="@Model.Cost">
                                </div>
                            }
                            else
                            {
                                <label for="cost" class="col-2 align-self-center col-form-label">Цена, грн</label>
                                <div class="col-10 pb-2">
                                    <input readonly="readonly" type="text" name="cost" class="form-control" id="cost" style="text-decoration-line:line-through; text-decoration-color:red" value="@Model.Cost">
                                    <input readonly="readonly" type="text" name="cost" class="form-control text-danger" id="cost" value="@Model.DiscountCost">
                                </div>
                            }
                            <label for="count" class="col-2 align-self-center col-form-label">Количество, шт</label>
                            <div class="col-10">
                                <input readonly="readonly" type="text" name="count" class="form-control" id="count" value="@Model.AmountInStock">
                            </div>
                            <label for="flavors" class="col-2 align-self-center">Вкусы</label>
                            <div class="col-10">
                                <div class="row pt-4">
                                    @foreach (var flavor in Model.Flavors)
                                    {
                                        <div class="col-3 pb-3">
                                            <input readonly="readonly" style="text-align:center; font-size:small" type="text" name="flavors" class="form-control" id="flavors" value="@flavor.Name">
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>