@model List<ProductViewModel>

@{
    ProductCategories filter = ViewBag.Category;
}

<div class="row">
    @await Html.PartialAsync("AdminMenu")
    <div class="col-9">
        <div class="row justify-content-between">
            <div class="col-12 mb-3">
                <h2>Список продуктов на складе</h2>
            </div>
            <div class="col-auto pb-3">
                <div class="dropdown">
                    <span>Сортировка по категории</span>
                    <button class="btn btn-outline-success btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @EnumHelper.GetDisplayName(filter)
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach (var category in Enum.GetValues(typeof(ProductCategories)).Cast<ProductCategories>().ToList())
                        {
                            if (filter != category)
                            {
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="ProductsInStock" asp-route-category="@category">@EnumHelper.GetDisplayName(category)</a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <a class="mr-3" href="#" data-toggle="modal" data-target="#addProductModal">
                    <span style="color:blue">Добавить продукт</span>
                </a>
                @await Html.PartialAsync("AddProductModal")
                <a class="mr-3" asp-area="Admin" asp-controller="Product" asp-action="ClearOutStock">
                    <span style="color:red;">Удалить все</span>
                </a>
                <a asp-area="Admin" asp-controller="Product" asp-action="GetDefaultProducts">
                    <span style="color:green;">Загрузить продукты</span>
                </a>
            </div>
            <div class="col-12 pr-0">
                <table class="table" style="text-align:center">
                    <thead style="font-size:medium">
                        <tr>
                            <th>Бренд</th>
                            <th>Название</th>
                            <th>Остаток, шт</th>
                            <th>Цена, грн</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int counter = 0;
                        }
                        @foreach (var product in Model)
                        {
                            counter++;
                            ViewBag.ModalInfo = "productInfoModal" + counter;
                            <tr style="border-bottom-color:grey; border-bottom-style:solid; font-size:smaller;">
                                <td>@EnumHelper.GetDisplayName(product.Brand)</td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#@ViewBag.ModalInfo" style="display:block;">
                                        <span>@product.Name</span>
                                    </a>
                                    @await Html.PartialAsync("ProductInfoModal", @product)
                                </td>
                                <td>
                                    @if (product.AmountInStock > 0)
                                    {
                                        @product.AmountInStock
                                    }
                                    else
                                    {
                                        <span style="color:red">Закончился!</span>
                                    }
                                </td>
                                <td>
                                    @if (product.Cost == product.DiscountCost)
                                    {
                                        <span class="text-dark">@product.DiscountCost</span>
                                    }
                                    else
                                    {
                                        @product.DiscountCost
                                    }
                                </td>
                                <td>
                                    <a asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-productId="@product.Id" class="btn btn-light btn-sm p-0 m-0" role="button">Удалить</a>
                                </td>
                                <td>
                                    <a asp-area="Admin" asp-controller="Product" asp-action="EditProduct" asp-route-productId="@product.Id">Редактировать</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
