@using OnlineShop.DB.Models.Enumerations;
@using OnlineShop.DB.Models;
<div class="row align-items-center mb-3 border-1 border-light bg-danger">
    <div class="col-8">
        <div class="row justify-content-between">
            <div class="col">
                <a onclick="this.blur()" role="button" class="btn btn-lg border-0" asp-area="" asp-controller="Product" asp-action="SaleProducts"><span style="color:white">АКЦИИ</span></a>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button onclick="this.blur()" class="btn btn-lg border-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="color:white">СПОРТ</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="CategoryProducts"  asp-route-isAllListProducts="@true">Все товары</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="CategoryProducts"  asp-route-category="@ProductCategories.Protein">Протеин</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="CategoryProducts"  asp-route-category="@ProductCategories.ProteinBar">Протеиновые батончики</a>                        
                        <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="CategoryProducts" asp-route-category="@ProductCategories.Gainer">Гейнеры</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="CategoryProducts" asp-route-category="@ProductCategories.FatBurner">Жиросжигатели</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="CategoryProducts" asp-route-category="@ProductCategories.Citruline">Цитрулин</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="CategoryProducts" asp-route-category="@ProductCategories.Creatine">Креатин</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="CategoryProducts" asp-route-category="@ProductCategories.BCAA">BCAA</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="CategoryProducts" asp-route-category="@ProductCategories.Aminoacid">Аминокислоты</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button onclick="this.blur()" class="btn btn-lg border-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="color:white">ДОБАВКИ</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Товар 1</a>
                        <a class="dropdown-item" href="#">Товар 2</a>
                        <a class="dropdown-item" href="#">Товар 3</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button onclick="this.blur()" class="btn btn-lg border-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="color:white">ВИТАМИНЫ</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Товар 1</a>
                        <a class="dropdown-item" href="#">Товар 2</a>
                        <a class="dropdown-item" href="#">Товар 3</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button onclick="this.blur()" class="btn btn-lg border-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="color:white">ЗДОРОВЬЕ</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Товар 1</a>
                        <a class="dropdown-item" href="#">Товар 2</a>
                        <a class="dropdown-item" href="#">Товар 3</a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="col-4 text-center">
        <a class="btn btn-lg border-0" role="button" asp-area="" asp-controller="Home" asp-action="Contacts">
            <img src="/icons/contact.png" />
            <span style="color:white">КОНТАКТЫ</span>
        </a>
    </div>
</div>