<div class="row align-items-center mb-4 border-1 border-light bg-danger sticky-top">
    <div class="col-8">
        <div class="row justify-content-between">
            <div class="col">
                <a onclick="this.blur()" role="button" class="btn btn-lg border-0" asp-area="" asp-controller="Product" asp-action="SaleProducts"><span style="color:white">АКЦИИ</span></a>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button onclick="this.blur()" class="btn btn-lg border-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="color:white">СПОРТ</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach (var category in Enum.GetValues(typeof(ProductCategories)).Cast<ProductCategories>().ToList())
                        {
                            if(category == ProductCategories.None)
                            {
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="CategoryProducts" asp-route-isAllListProducts="@true">Все товары</a>
                            }
                            else if (category.ToString().Contains("Sport"))
                            {
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="CategoryProducts" asp-route-category="@category">@EnumHelper.GetDisplayName(category)</a>
                            }                            
                        }
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button onclick="this.blur()" class="btn btn-lg border-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="color:white">ЗДОРОВЫЕ ПЕРЕКУСЫ</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach (var category in Enum.GetValues(typeof(ProductCategories)).Cast<ProductCategories>().ToList())
                        {
                            if (category == ProductCategories.None)
                            {
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="CategoryProducts" asp-route-isAllListProducts="@true">Все товары</a>
                            }
                            else if (category.ToString().Contains("HealthyFood"))
                            {
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="CategoryProducts" asp-route-category="@category">@EnumHelper.GetDisplayName(category)</a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button onclick="this.blur()" class="btn btn-lg border-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="color:white">ВИТАМИНЫ</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Товар 1</a>
                        <a class="dropdown-item" href="#">Товар 2</a>
                        <a class="dropdown-item" href="#">Товар 3</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button onclick="this.blur()" class="btn btn-lg border-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="color:white">ДОБАВКИ</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Товар 1</a>
                        <a class="dropdown-item" href="#">Товар 2</a>
                        <a class="dropdown-item" href="#">Товар 3</a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="col-4 text-center">
        <a class="btn btn-lg border-0" role="button" asp-area="" asp-controller="Home" asp-action="Contacts">
            <img src="/icons/contact.png" />
            <span style="color:white">КОНТАКТЫ</span>
        </a>
    </div>
</div>