@model BasketViewModel

<form method="post">
    <div class="table-responsive">
        <table class="table table-bordered" style="border:ridge #c9ceca 10px">
            <thead class="table-light">
                <tr style="text-align:center">
                    <th>Название</th>
                    <th>Вкус</th>
                    <th>Количество, шт</th>
                    <th>Цена за единицу, грн</th>
                    <th>Скидка, %</th>
                    <th>Общая цена, грн</th>
                    @if (Model != null)
                    {
                        <th></th>
                        <th></th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var basketItem in Model.Items)
                    {
                        <tr style="text-align:center">
                            <td class="align-middle">@basketItem.Product.Name</td>
                            <td class="align-middle">@basketItem.Product.Flavor.Name</td>
                            <td class="align-middle">@basketItem.Amount</td>
                            <td class="align-middle">@basketItem.Product.Cost</td>
                            @if (basketItem.Product.Cost == basketItem.Product.DiscountCost)
                            {
                                <td class="align-middle">Без скидки</td>
                            }
                            else
                            {
                                <td class="align-middle">@basketItem.ProductInfo.DiscountPercent</td>
                            }
                            <td>@basketItem.TotalAmount</td>
                            <td class="align-middle">
                                <a class="btn btn-sm btn-outline-success" asp-area="" asp-controller="Basket" asp-action="Buying" asp-route-productId="@basketItem.Product.Id" asp-route-flavorId="@basketItem.ProductInfo.FlavorId" asp-route-amount="@basketItem.Amount" role="button">+</a>
                            </td>
                            <td class="align-middle">
                                <a class="btn btn-sm btn-outline-danger" asp-area="" asp-controller="Basket" asp-action="Deleting" asp-route-prodId="@basketItem.Product.Id" asp-route-flavorId="@basketItem.ProductInfo.FlavorId" asp-route-amount="@basketItem.Amount" role="button">-</a>
                            </td>
                        </tr>
                    }
                    <tr style="text-align:center">
                        <td colspan="5" class="align-middle">Сумма заказа, грн</td>
                        <td colspan="3" class="align-middle" style="color:firebrick; font-size:x-large; font-weight:bold">@Model.Cost</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="4"><center>Корзина пуста</center></td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        @if (Model != null)
        {
            if(User.Identity.IsAuthenticated)
            {
                <div style="float:right">
                    <button class="btn btn-success btn-lg" type="submit" asp-area="" asp-controller="Basket" asp-action="Purchase" role="button">Оформить заказ</button>
                </div>
            }

            else
            {
                <div style="float:right">
                    <button class="btn btn-success btn-lg" type="submit" asp-area="" asp-controller="Basket" asp-action="Purchase" asp-route-anonymousId="@Model.Customer.Id" role="button">Оформить заказ</button>
                </div>
            }
        }
        else
        {
            <div style="float:right">
                <a class="btn btn-success btn-lg disabled" href="#" role="button">Оформить заказ</a>
            </div>
        }
        <div style="float:left">
            <a class="btn btn-dark btn-lg" asp-area="" asp-controller="Product" asp-action="CategoryProducts" asp-route-category="@ProductCategories.None" role="button">Продолжить покупки </a>
        </div>
    </div>
</form>